.footer {
	background-color: #121212;
}

.nav-wrapper {
	padding: 60px 0 87px 0;
}

.footer-nav {
	margin: 0 auto;
	width: 450px;
}

.footer-nav__list {
	display: flex;
	justify-content: space-between;
}

.footer-nav__link {
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-nav__link:hover {
	opacity: 50%;
}

.footer__title {
	text-align: center;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	opacity: 50%;
}

@media (max-width: 767px) {
	.nav-wrapper {
		padding: 30px 0 41px 0;
	}

	.footer-nav {
		width: 281px;
	}

	.footer-nav__link {
		font-size: 12px;
		line-height: 16px;
	}

	.footer__title {
		font-size: 13px;
		line-height: 18px;
	}
}