.services {
	padding: 150px 0;
	background-color: #121212;
}

.title_white {
	color: #FFFFFF;
}

.services-list {
	margin-bottom: 106px;
	display: flex;
	flex-wrap: wrap;
	gap: 85px 10px;
}

.service {
	position: relative;
	width: calc(50% - 5px);
}

.service__image {
	margin-bottom: 25px;
	width: 100%;
}

.service__price {
	position: absolute;
	top: 31px;
	left: 30px;
	padding: 5px 20px;
	border-radius: 5px;
	background-color: #AD1818;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 30.05px;
}

.service__title {
	font-size: 30px;
	line-height: 41px;
	color: #FFFFFF;
}

@media (max-width: 1199px) {

	.services {
		padding: 120px 0;
	}

	.services-list {
		margin-bottom: 80px;
		row-gap: 80px;
	}

	.service__image {
		margin-bottom: 15px;
	}

	.service__title {
		font-size: 25px;
		line-height: 34.15px;
	}

}

@media (max-width: 600px) {

	.services {
		padding: 80px 0;
	}

	.services-list {
		margin-bottom: 60px;
		row-gap: 60px;
	}

	.service {
		width: 100%;
	}

	.service__image {
		margin-bottom: 10px;
	}

	.service__price {
		top: 24px;
		left: 24px;
		padding: 5px 25px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 19.12px;
	}

	.service__title {
		font-size: 18px;
		line-height: 24.59px;
	}
}