body {
	font-family: 'Manrope', sans-serif;
	color: #121212;
	background: #F5F5F5;
}

.container {
	margin: 0 auto;
	padding: 125px;
	width: 1400px;
	background: #FFFFFF;
	box-sizing: border-box;
}

h1 {
	margin-bottom: 30px;
	height: 120px;
	width: 956px;

	text-align: left;
	font-size: 60px;
	line-height: 60px;
	font-weight: 400;
	letter-spacing: -0.03em;

}

.main-image {
	margin-bottom: 150px;
	height: 500px;
	width: 1150px;
	background-image: url(../resources/Rectangle1.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.main-text {
	padding-top: 379px;
	padding-right: 680px;
	padding-bottom: 40px;
	padding-left: 40px;
	width: 430px;
	height: 81px;
	font-size: 20px;
	line-height: 27.32px;
	text-align: left;
	font-weight: 400;
	letter-spacing: -0.03em;
	color: #FFFFFF;
}

h2 {
	margin-bottom: 30px;

	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
	letter-spacing: -0.03em;
}

p.description {
	margin-bottom: 30px;
	height: 366px;
	width: 1048px;

	font-size: 45px;
	font-weight: 400;
	line-height: 61px;
	text-align: left;
	letter-spacing: -0.03em;
}

.btn {
	display: block;

	margin-bottom: 150px;
	padding: 20 40;
	width: 255px;
	height: 67px;

	border: 1px solid #AD1818;

	line-height: 67px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: -0.03em;
	background: #AD1818;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #FFFFFF;
	color: #AD1818;
}
